@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(../fonts/open_sans.woff) format('woff');
}

* {
  box-sizing: border-box;
  font-weight: 100;
}

hr {
  border: 1px solid #eee;
}

html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
  font-family: "Open Sans", sans-serif;
}

body {
  padding-top: 8px;
  padding-bottom: 16px;
  padding-left: 32px;
  
  color: #111;

  width: 800px;

  line-height: 1.8em;
  font-size: 13pt;
}

h2 {
  font-weight: 300;
}

h3 {
  font-weight: 200;
}

table {
  margin: 8px;
}

ul, ol {
  padding-left: 40px;
  margin: 8px;
}

.dark-color1 {
  background-color: rgb(60, 60, 50);
  color: rgb(250, 250, 250);
}

.dark-color2 {
  background-color: rgb(80, 80, 120);
  color: rgb(250, 250, 250);
}

.dark-box, .chapter {
  padding: 4px;
  background-color: rgb(60, 60, 50);
  color: rgb(250, 250, 250);
}

.box {
  padding: 4px;
  background-color: rgb(250, 250, 255);  
}

p {
  word-spacing: 3px;
}

.white-box {
  padding: 4px;
  background-color: #FFF;
}

.hover-me::after {
  content: "(?)"
}

.snippet {
    border-left-width: 1px;
    border-right-width: 1px;
    
    border-color: #333;
    border-style: solid;
    border-width: 2px 0;

    overflow-x: auto;
    padding: 2px;
    margin: 2px;
    
}

pre, code {
  background-color: #FFF; 
  color: rgb(60, 60, 50);
  font-family: Consolas, Courier, Monospace;
}